#watchlistTableData
 {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    border-color:white;

  }
  
  #watchlistTableData
  td  {
    border: 1px solid #ddd;
    padding: 1px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  #watchlistTableData
  th {
    border: 1px solid #ddd;
    padding: 1px;
  }

  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #watchlistTableData tr:hover {background-color: #ddd;}
  
 